
html{
	font-size: 11px;
}



.h-700{
	height: 700px;
}

h1{
	font-family: marydale, sans-serif;

font-weight: 400;

font-style: normal;
	font-size: 10rem;
}

h3{
	font-family: 'Bangers', cursive;
}

p{
	font-size: 1.5rem;
}



/*Animation Kia 7 Year Warranty*/
.move-up-down {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}


.circle-shadow{
	-webkit-box-shadow: 0 1rem 3rem rgba(0,0,0, 0.2);
    box-shadow: 0 1rem 3rem rgba(0,0,0, 0.2);
    border-radius: 50%;
}


/*
Marydale Regular

font-family: marydale, sans-serif;

font-weight: 400;

font-style: normal;*/


/*
Marydale Bold

font-family: marydale, sans-serif;

font-weight: 700;

font-style: normal;*/
